*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.redback
{
  background: #F6424C;
}

.red
{
	color: #F6424C;
}

.form-control
{
	border:1px solid red;
}

.card-text
{
	text-align: justify;
}